.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sansserif;
    font-size: 18px;
    color: #2D3748;
}

header {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #63B3ED;
    color: #FFFFFF;
    padding: 10px;
    border: 10px;
    margin: 10px;
}

header img {
    display: block;
    border-radius: 100px;
    width: 15%;
}

header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 10px;
    border: 20px;
    margin: 40px;
}

.blog h2 {
    font-size: 32px;
    color: #48BB78;
}

.blog h4 {
    color: #718096;
}

.firstpost img {
    float: right;
    display: block;
    margin: 0 5px 5px 0;
}

.secondpost img {
    float: right;
    display: block;
    margin: 0 10px 10px 0;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 10px;
    border: 20px;
    margin: 20px;
}

.socmed,
.arch {
    color: #48BB78;
    padding: 10px;
    border: 10px;
    margin: 10px;
}

a {
    color: #4299E1;
}

.about {
    color: #000000;
    background-color: #E2E8F0;
    padding: 10px;
    border: 10px;
    margin: 10px;
}

.sidebar h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #2C5282;
    color: #FFFFFF;
    padding: 30px;
    border: 10px;
    margin: 10px;
}